body {
  font-family: "Roboto", "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header,
.main-slider {
  background-color: #eeeeee;
}

.main-navigation {
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0,0,0,0.3);
}

.description h2 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.description a {
  
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}